extends layout

block content
  h1#title Kim Kalldashian
  center

    p#instruct Put in your friends number, and have us call to read Kim's tweets to them everyday!
    
    p#link
      span(onClick="unsubscribelink();") 
        u Looking to unsubscribe?
      span(onClick="onetimelink();") &nbsp; 
        u What about a one time thing?
        
    form(id="indexform" method="post", action="/subscribers", type="application/x-www-form-urlencoded")
      div
        input#phone(type="tel", onkeyup="checkphone();", name="number")
      div#submitcontainer
        input#phonesubmit(type="submit")

    img#kim(src="images/kim.png")
    