extends layout

block content
  h1#title Kim Kalldashian
  center

    p#instruct Put in your friends number, and have us call to read Kim's tweets to them everyday!

    form(method="post", action="/subscribers", type="application/x-www-form-urlencoded")
      div
        input#phone(type="tel", onkeyup="checkphone();", name="number")
      div#submitcontainer
        input#phonesubmit(type="submit")

    img#kim(src="images/kim.png")
    