doctype html
html
  head
    title= title
    link(rel="icon", href="images/kim.ico")
    link(rel='stylesheet', href='http://raritea.com/raritea/fonts.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/scripts.js')
  body
    block content