html {
  margin: 0px;
}
body {
  background-color: #53cd95;
}
#title {
  font-family: 'BebasNeue';
  font-weight: 300;
  font-size: 225px;
  color: white;
  text-align: center;
  z-index: 1;
  margin-top: 0px;
}
#instruct {
  text-align: center;
  color: white;
  font-family: 'BebasNeue';
  font-size: 60px;
  max-width: 50%;
  position: relative;
  top: -150px;
}
#phone, textarea {
  background-color: #53cd95;
  height: 90px;
  font-size: 100px;
  border-style: dotted;
  border-color: white;
  position: relative;
  top:-200px;
  width: 60%;
  color: white;
  font-family: 'BebasNeue';
  text-align: center;
}
#phonesubmit {
  position: relative;
  top: -150px;
  height: 130px;
  width: 320px;
  border-radius: 10px;
  border-style: dotted;
  border-color: white;
  background-color: transparent;
  text-align: center;
  color: white;
  font-family: BebasNeue;
  font-size: 130px;
  font-weight: 100;
  cursor: pointer;
  padding: 0px;
}
#submitcontainer {
  margin: 0 auto;
}
*:focus {
  outline: 0px;
}
#help {
  width: 50px;
  float: left;
}
#kim {
  position:fixed;
  left:0px;
  bottom:0px;
  z-index:2;
}
#listofnumbers {
  font-size: 50px;
  color: white;
  font-family: BebasNeue;
  float: left;
}

li {
  display: inline-block;
  padding-right: 20px;
}

#flash {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(0,0,0,.3);
  padding: 15px;
  text-align: center;
}

#flash p {
  color: white;
  font-size: 16px;
<<<<<<< HEAD
  font-family: sans-serif;
  left: 0px;
  width: 100%;
  padding-left: 0px;
}

#link {
  color: white;
  font-family: sans-serif;
  position: relative;
  top: -220px;
  cursor: pointer;
}

#indexform {
  position: relative;
  top: -20px;
=======
>>>>>>> fe5feb5640599da2099eea6200ea0771240404ad
}